@import '../../sass/variables.scss';

.project {
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    grid-template-rows: repeat(2, 23rem);
    grid-gap: 3rem;
    width: 60vw;
    justify-content: center;
    margin: 2rem auto;

    &__wrapper {
        position: relative;

        &:nth-child(1) {
            background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
                url(../../images/portfolioScreenshots/Tatu_Home.png);
            background-size: cover;
            background-position: center;
        }
 
        &:nth-child(2) {
            background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
            url(../../images/portfolioScreenshots/eventDash.png);
            background-size: cover;
            background-position: center;
        }

        &:nth-child(3) {
            background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
            url(https://i.makeagif.com/media/3-11-2019/swKc_s.gif);
            background-size: cover;
            background-position: center;
        }
 
        &:nth-child(4) {
            background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
            url(../../images/portfolioScreenshots/NYTSearch.png);
            background-size: cover;
            background-position: center;
        }
    }

    &__container {
        border: 2px solid red;
        width: 100%;
        height: 100%;
        // position: relative;

        

    }

    &__header {
        background-color: #000;
        padding: .5rem;
    }

    &__image {
        width: 100%;
    }

    &__btn {
        padding: 2.5rem;
        width: 5rem;
        height: 5rem;

        &--deployed {
            position: absolute;
            bottom: 0;
            left: 0
        }

        &--repository {
            position: absolute;
            bottom: 0;
            right: 0
        }
    }

    &__keywords {
        background-color: #fff;
        color: $color-primary-dark;
        text-transform: uppercase;
        padding-top: .25rem;

    }

}