// import all files in sass folder here so that one import in app.js file
@import 'variables';
@import 'button';
@import 'form';
@import 'icon';
@import 'modal';
@import 'layout';
@import 'links';
@import 'utilities';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  color: $font-color-primary;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .8rem;
}

p {
    line-height: 1.4rem;
    padding: .5rem 0;
}

th,
td {
    text-align: center;
    line-height: 1.3rem;
    
}

th {
    padding: 0 2rem .5rem 2rem;
    font-size: 1rem;
}




