@import '../../sass/variables.scss';

.header {
    display: flex;
    align-items: center;

    &__logo-wrapper {
        margin-left: 4rem;
        padding: .5rem;
        padding-top: 1.75rem;
        background-color: $color-light-grey;
        width: 6.5rem;
        height: 8rem;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;

        &:hover {
            // height: 6rem;
            padding-left: .5rem;
        }  
    }

    &__text-wrapper {
        display: none;
        background-color: $color-light-grey;
        font-size: 1.5rem;
        height: 8rem;
        width: 0;
        // padding: 1rem;
        transition: all .2s;

        &:hover {
            display: flex;
            align-items: center;
            // if remove this here, leaves the links in white
            //kind of cool may remove later
            width: 100%;
            height: 8rem;
        }
    }

    &__list {
        list-style: none;
        display: flex;
    }

    &__list-item {
        padding: 1rem;  
    }

    &__title {
        margin-right: 4rem;
        margin-left: auto;

        &--flyout {
            color: $color-primary;
        }
    }

    &__logo-wrapper:hover + &__text-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        
        //look like its expanding from left to right
    }

    &__logo-wrapper:hover ~ &__title,
    &__text-wrapper:hover + &__title {
        display: none;
    }

    
}